body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(189, 189, 224);
}

div {
  width: 600px;
  margin: 50px auto;
  padding: 20px;
  text-align: left;
}

h2 {
  text-align: center;
  color: #333;
  padding-bottom: 40px;
}

p {
  align-self:center;
  font-size: 18px;
  margin: 12px 0;
  color: black;
}

b {
  display: inline-block;
  width: 120px;
}